* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

html {
    scroll-behavior: smooth;
}

header {
    border-bottom: 1.60px solid black;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
    border-radius: 0 0 15px 15px;
    padding: 20px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

ul {
    display: flex;
    align-items: center;
    gap: 40px;
    transition: 1s ease-in-out;
    border-radius: 15px;
    padding: 7.5px;
}

ul:hover {
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

li {
    cursor: pointer;
    border: 2px solid transparent;
    border-radius: 15px;
    font-weight: bold;
    list-style: none;
    transition: 1s ease-in-out;
    padding: 7.5px;
}

li:hover {
    border: 2px solid black;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

h1 {
    font-family: auto;
    margin-right: 60px;
}

.IconeCuboWave {
    border-radius: 20px;
    height: 55px;
}